<head> 
</head>
	

<body>

	<script src='/_ah/channel/jsapi'> </script>
	<script src='script'> </script>
	<script type = "text/javascript">
		var token = '{{ token }}'
		onOpened = function(){
			console.log("Opened");
		}
		onMessage = function(message) {
			console.log("Message arrived= " + message.data);
			console.log('message');
			document.getElementById('echo').innerHTML = message.data
		}
	  channel = new goog.appengine.Channel(token);
	  console.log(token)
	  socket = channel.open();
	  socket.onmessage = onMessage;
  
    sendMessage = function(message, opt_param) {
		  if (message == '') {
		  	console.log("Empty message")
		  	message = ' '
		  }
		  var params = "msg=" + message + "&token=" + token;
		  var xhr = new XMLHttpRequest();
		  xhr.open('POST','/', true);
		  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
		  xhr.send(params);
		};

		function sender(element) {
			var textfield = document.getElementById(element)
			document.getElementById('mirror').innerHTML = textfield.value
			sendMessage(textfield.value)
		}
	</script>

	<div id='tokenprint'> </div>
	<textarea id = "input" name = "input" onkeyup="sender('input')" >  </textarea>
	<br>From client:	<div id = "mirror"> </div>
	<br>
	<br>
	<br>From server: <div id = "echo"> </div>

</body>