<!doctype html>
<html>
	<head>
        <meta charset="UTF-8">
		<title> Socket.IO chat</title>
        <link rel="stylesheet" href="client.css">
        <link rel="import" href="/templates/post-card.html">
	</head>
    
    <body>
        <div class="chat page">
            <div class="chatArea">
                <div class="users"></div>
            </div>
            <br>
            <br>
            <input class="inputMessage" placeholder="Type here..."/>
        </div>
        <div class="login page">
            <h3 class="title"> What's your nickname? </h3>
            <input class="usernameInput" type="text" maxlength="14" />
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="client.js" ></script>
    </body>
</html>