<!doctype html>
<html>
	<head>
        <meta charset="UTF-8">
		<title> Socket.IO chat</title>
        <link rel="stylesheet" href="style.css">
	</head>
    
    <body>
        <div class="chatpage">
            <div class="chatArea">
                <div class="users"></div>
            </div>
            <br>
            <br>
            <input class="inputMessage" placeholder="Type here..."/>
        </div>
        <div class="login">
            <h3 class="title"> What's your nickname? </h3>
            <input class="usernameInput" type="text" maxlength="14" />
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script type="text/javascript" >
            $(document).ready( function(){
                //Vars of DOM    
                var $window = $(window);    //Variable of whole window
                var $usernameInput = $('.usernameInput');       //Var for the user's name @ login
                var $users = $('.users');        //Var for the list of users's div
                var $inputMessage = $('.inputMessage');     //Var for the user's input
                var $loginPage = $('.login');       //Var for the whole login page
                var $chatPage = $('.chatpage');     //Var for the actual chat area

                //Vars for misc manipulation
                var username;
                var connected = false;
                var FADE_TIME = 150;
                var $currentInput = $usernameInput.focus();

                //Init the socket.io
                var socket = io();

                //Function used to typescaping the input
                function clean_input(input) {
                    return text(input).text();
                }


                function setUsername() {
                    username = $usernameInput.val().trim();
                    if (username) {
                        $loginPage.fadeOut();
                        $chatPage.show();
                        $loginPage.off('click');
                        $currentInput = $inputMessage.focus();
                        socket.emit('add user', username);
                    }
                }

                //User div management
                socket.on('user joined',function (data) {
                    console.log(data.username + ' joined');
                    append_command = "<div id='"+data.username+"' class='userDiv' > user "+data.username+"</div>";
                    console.log(append_command)
                    $users.append(append_command)
                });
                socket.on('user left',function (data) {
                    console.log(data.username + 'left');
                    $('#'+data.username).remove();
                });

                $loginPage.keydown(function (event) {
                    console.log('keydown')
                    // Auto-focus the current input when a key is typed
                    if (event.which === 13) {
                        // When the client hits ENTER on their keyboard
                        if (username) {
                            sendMessage();
                            socket.emit('stop typing');
                            typing = false;
                        } 
                        else {
                            setUsername();
                        }
                    }
                });
            });
            
            
    </script>
    </body>
</html>